<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./assets/css/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <!-- <form onsubmit="return false">
      <div>
        <input type="text" placeholder="Neues Wort" id="neu" /><button
          onclick="add()"
        >
          Hinzufügen
        </button>
      </div>
      <div>
        <input type="number" placeholder="zahl" id="zahl" /><button
          onclick="suchen() "
        >
          Suchen
        </button>
      </div>
      <div id="druck"></div>
    </form> -->

    <!-- <form onsubmit="return false">
      <div>
        <input type="number" id="zahl" placeholder="Zahl" />
        <button onclick="loop()">Loop</button>
      </div>
      <div id="print"></div>
    </form> -->

    <!-- <div id="numArray"></div> -->
  </body>
  <script src="./assets/js/script.js"></script>
</html>
